@import "tailwindcss";

@import "preline/variants.css";
@import "preline/src/plugins/datepicker/styles.css";

/* IN CASE */
@import "../../node_modules/preline/variants.css";
@import "../../node_modules/preline/src/plugins/datepicker/styles.css";

@source "../node_modules/preline/dist/*.js";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-montserrat);
}

.datepicker-dropdown {
  max-height: 400px;
  overflow-y: auto;
}

#custom-sidebar-backdrop,
#custom-modal-backdrop {
  inset: 0;
  z-index: 10;
  @apply bg-gray-900/50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

div[data-hs-select-dropdown].should-stick {
  position: sticky;
}
